.toggle-checkbox {
  display: none;
}

.toggle-checkbox ~ * {
  display: none;
}

.toggle-checkbox:checked ~ * {
  display: block;
}

.login-flyout, .cart-flyout, .wishlist-flyout {
  position: absolute;
  right: -12px;
  width: 200px;
  background-color: white;
  margin: 0;
  margin-top: 17px;
  padding: 6px;
  border: 1px solid black;
  z-index: 50;
}
.cart-flyout {
  margin-top: 16px;
  width: 400px;
}

.cart-count {
  position: absolute;
  background-color: #888;
  color: white;
  padding: 2px 0px 0px 0px;
  border-radius: 50%;
  font-size: 9px;
  top: 9px;
  left: 8px;
  width: 14px;
  text-align: center;
}

.cart-price {
  padding-left: 3px;
  padding-right: 3px;
}

.cart-quantity {
  padding-left: 3px;
  padding-right: 3px;
}

.wishlist-flyout {
  margin-top: 16px;
  width: 400px;
}

.wishlist-count {
  position: absolute;
  background-color: #888;
  color: white;
  padding: 2px 0px 0px 0px;
  border-radius: 50%;
  font-size: 9px;
  top: 9px;
  left: 8px;
  width: 14px;
  text-align: center;
}

.wishlist-price {
  padding-left: 3px;
  padding-right: 3px;
}

.wishlist-quantity {
  padding-left: 3px;
  padding-right: 3px;
}

.productDisplay{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin-right: 10em;
}

.admin-table{
  width: 100%;
}

.home-page-image{
  float: left;
  width: 350px;
  margin-right: 10px;
  margin-bottom: 10px;
}

a[disabled]{
  pointer-events: none;
}

.record-page{

}

.record-page .btn{
  margin-right: 15px;
}

.record-image{
  float: left;
  width: 600px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.background-green{
  background-color: green;
  color: white;
  opacity:0.9;
  border: 1px solid black;
}

.background-green:hover{
  color: white;
  opacity:1;
}

.panel-heading > label {
  width: 100%;
}

.style-review-button{
  float: left;
}
